<div>
    <ol>
        <li ng-repeat="item in items">
            Od:<input type="date" ng-model="item.od" ng-change="calculate()" />
            Do:<input type="date" ng-model="item.do" ng-change="calculate()" />
            Sati: <input type="number" ng-model="item.sati" ng-change="calculate()" />
            RV: <input type="number" ng-model="item.radnoVrijeme" ng-change="calculate()" />
            <label><input type="checkbox" ng-model="item.ustanova" ng-change="calculate()" />U ustanovi</label>
            <button ng-click="remove($index)">Obriši</button>
        </li>
    </ol>
    <button ng-click="add(5)">Dodaj 5 redaka</button>
    <hr />

    <div>
        U ustanovi:
        <strong>{{total.u.y}}</strong> godina,
        <strong>{{total.u.m}}</strong> mjeseci,
        <strong>{{total.u.d}}</strong> dana
    </div>
    <div>
        Izvan ustanove:
        <strong>{{total.izvan.y}}</strong> godina,
        <strong>{{total.izvan.m}}</strong> mjeseci,
        <strong>{{total.izvan.d}}</strong> dana
    </div>
</div>